* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button{
    font-size: 1.5rem;
}

body{
    font-size: 2rem;
    font-family: 'Montserrat Alternates', Helvetica, sans-serif;
    color: white;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main{
    height: 100vh;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;

    padding-top: 6rem;
}

main #logo{
    width: 4rem;
    margin-bottom: 1rem;
    transition: all 1s;
}

main #logo:hover{
    transform: scale(1.5) rotate(360deg);
}

main p{
    font-size: 0.7rem;
}